*{
    background-color: bisque;
}

h1
{
   text-align: center;
}

div
{
    background-color: tomato;
    padding: 20px;
    border-style:solid;
    border-radius: 10px;
    border-width: 5px;
    margin: 20px;
    /* width:100%; */

}